body{
    background-color: darkslategrey;
    max-width: 250px;
    margin: auto;
}
#screen{
    background-color: darkgrey;
    min-width: 50px;
    max-width: 250px;
    min-height: 25px;
}
.operations{
    color: blue;
    
}
button{
    padding:10px;
}
.digits{
    color:darksalmon;
}